<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LUXURY-WATCH | @ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/home.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    @*Chen Google Map*@
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDzxH9RKWo4Os5r5j2TammLwjEnazxYHZo&signed_in=true&callback=initialize "></script>
    <script type="text/javascript">
        var gmap = new google.maps.LatLng(10.8018444,106.7126571);
    var marker;
    function initialize()
    {
        var mapProp = {
            center:new google.maps.LatLng(10.8018444,106.7126571),
             zoom:16,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };

        var map=new google.maps.Map(document.getElementById("googleMap")
        ,mapProp);

      var styles = [
        {
          featureType: 'road.arterial',
          elementType: 'all',
          stylers: [
            { hue: '#fff' },
            { saturation: 100 },
            { lightness: -48 },
            { visibility: 'on' }
          ]
        },{
          featureType: 'road',
          elementType: 'all',
          stylers: [

          ]
        },
        {
            featureType: 'water',
            elementType: 'geometry.fill',
            stylers: [
                { color: '#adc9b8' }
            ]
        },{
            featureType: 'landscape.natural',
            elementType: 'all',
            stylers: [
                { hue: '#809f80' },
                { lightness: -35 }
            ]
        }
      ];

      var styledMapType = new google.maps.StyledMapType(styles);
      map.mapTypes.set('Styled', styledMapType);

      marker = new google.maps.Marker({
        map:map,
        draggable:true,
        animation: google.maps.Animation.DROP,
        position: gmap
      });
      google.maps.event.addListener(marker, 'click', toggleBounce);
    }

    function toggleBounce() {

      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <meta property="fb:app_id" content="{421834824944718}" />
  
</head>

<body>
    <div class="navbar navbar-inverse" style="margin-bottom:0;padding-top:5px;">
        <div class="col-md-4 col-sm-4" style="text-align:center;vertical-align:central">
           
        </div>
        <div class="col-md-4 col-sm-4" style="text-align:center;vertical-align:central">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <input type="search" name="search" placeholder="search...." style="border-radius:5px; min-width:200px;margin-top:10px" />
                <input type="submit" class="btn-primary btn-sm" id="searchbtn"style="padding-top:10px" value="Go" />
            }
        </div>
        <div class="col-md-4"  style="text-align:right;padding-top:10px">
            @Html.Action("TaiKhoan", "Home")
            @Html.Action("GioHangPartial", "GioHang")
        </div>
       
    </div>

    <div class="navbar navbar-inverse" id="header" style="padding-top:10px">
        <div class="container">
            <div class="col-md-3">
                <a href="@Url.Action("Index","Home")"><img src="http://www.luxuryofwatches.com/templates/__custom/img/logo.png" alt="Alternate Text" class="img-responsive" id="logo" style="margin:0 auto" /></a>
            </div>
            <div class="col-md-6">
                @if (ViewBag.Title == "Chi Tiết Sản Phẩm")
                {
                    @Html.Action("HeaderImg", "Home", new { id = Model.MaTH });

                }
                else if (ViewBag.Title == "Sản Phẩm")
                {
                    @Html.Action("HeaderImg", "Home");
                }
                else
                {
                    @Html.Action("Slideshow", "Home");
                }
            </div>
            

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav menu">
                    <li><a href=@Url.Action("Index","Home")>Trang Chủ</a></li>
                    <li >
                        <a href="/Home/Index#Watch-Collection" >Đồng Hồ</a>
                        @*<ul  class="nav navbar-form submenu" >
                            
                            @foreach (var item in ViewBag.ths)
                            {
                                <li><a href="#Sanpham">@item.TenTH</a></li>
                                
                            }
                        </ul>*@

                    </li>
                    <li>
                        <a href="#s2">Phụ Kiện</a>
                    </li>
                    <li>
                        <a href=@Url.Action("DiemBan","Home")>Điểm bán</a>
                    </li>
                    <li>
                        <a href="#">Khuyến Mãi</a>
                    </li>
                    <li>
                        <a href="@Url.Action("LienHe","Home")">Giới Thiệu</a>
                    </li>
                </ul>
             
            </div>
           
        </div>
    </div>
    <!-- Đăng Nhập-->

    <!-- Đăng Ký-->

    <div class="container body-content">
        @RenderBody()
        <div style="text-align:center">
            <a href="#" id="fb" class="fa fa-facebook-square" style="font-size:36px;"></a>
            <a href="#" id="gp" class="fa fa-google-plus-square" style="font-size:36px;"></a>
            <a href="#" id="tt" class="fa fa-twitter-square" style="font-size:36px;"></a>
            <span style="color:white">Liên Hệ: LUXURYWatch@gmail.com </span>
        </div>
        <hr />
        @*Nhúng code FBAPI *@
        <div id="fb-root"></div>
        <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=421834824944718&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="footer row">
            <div id="showroom" class="footer-content  col-sm-3">
                <p>SHOW ROOM</p>
                <br>
                <p>475A Điện Biên Phủ</p>
                <br>
                <p>HotLine: 01693439295</p>
            </div>
            <div id="huongdan" class="footer-content col-sm-3">
                <p>HƯỚNG DẪN</p>
                <br>
                <a href="#">Câu hỏi thường gặp</a>
                <br>
                <a href="#">Hướng dẫn và điệu kiện sử dụng</a>
            </div>
            <div id="taikhoan" class="footer-content col-sm-3">
                <p>TÀI KHOẢN</p>
                <a href="@Url.Action("Login","Home")">Đăng nhập</a>
                <br>
                <a href="@Url.Action("DangKy","Home")">Đăng ký</a>
                <br>
                <a href="#">Chính Sách Bảo Mật</a>

            </div>
            <div id="lienket" class="footer-content col-sm-3">
                <P>LIÊN KẾT</P>
                <a href="https://www.g-shock.com.vn/">G-shock.com.vn</a>
            </div>
        </div> 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script lang="javascript">var _vc_data = {id : 5671420, secret : 'cbc0261c68fa738cdd57fcab0f3e95e0'};(function() {var ga = document.createElement('script');ga.type = 'text/javascript';ga.async=true; ga.defer=true;ga.src = '//live.vnpgroup.net/client/tracking.js';var s = document.getElementsByTagName('script');s[0].parentNode.insertBefore(ga, s[0]);})();</script>         	
</body>
</html>
